{% extends 'layout.html' %}

{% block header %}
<h2>{% block title %}New Post{% endblock %}</h2>
{% endblock %}

{% block content %}
<div>
  <form method="post">
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input name="title" id="title" class="form-control" value="{{ request.form['title'] }}" required>
    </div>

    <div class="mb-3">
      <label for="body" class="form-label">Body</label>
      <textarea name="body" id="body" class="form-control">{{ request.form['body'] }}</textarea>
    </div>

    <input type="submit" class="btn btn-primary" value="Save">
  </form>
</div>

{% endblock %}